<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script th:inline="javascript">
        const user = [[${session.loginUser}]]
        if(user == null) { 
          alert("관리자 전용페이지 입니다. 로그인 해 주세요"); 
          location.href="/master";
        }
      </script>
      <script th:inline="javascript">
        const status = [[${session.loginUser.status}]];
          if(status != 1) {
            alert("승인된 관리자만 접근 가능한 메뉴입니다.");
            location.href = "/master/index";
          }
      </script>
</head>
<body>
    <h1>대학정보 리스트</h1>
    <tr>
        <td colspan="2">
          <a href="/customer/list" style="color: black;"><button>일반회원 관리페이지</button></a>
        </td>
        <td colspan="2">
          <a href="/owner/list" style="color: black;"><button>사장회원 관리페이지</button></a>
        </td>
        <td colspan="2">  
            <a href="/master/logout" style="color: black;"><button>로그아웃</button></a>
        </td>
    </tr>
<table>
    <thead>
        <tr>
            <th>번호</th>
            <th>대학명</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="univ : ${result.list}">
            <td th:text="${univ.uiSeq}"></td>
            <td>
                <a th:href="@{/univ/detail(univ_no=${univ.uiSeq}, page=${result.currentPage}, keyword=${keyword})}" th:text="${univ.uiName}"></a>
            </td>
            <td>
                <a th:href="@{/univ/delete(univ_no=${univ.uiSeq})}">삭제</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="search_area">
    <form action="/univ/list" method="get" id="search_form">
        <input type="text" name="keyword" placeholder="대학교 검색" th:value="${keyword}"><button>검색</button>
    </form>
</div>
<div class="pager_area">
    <th:block th:each="i : ${#numbers.sequence(0, result.totalpage - 1)}">
        <th:block th:if="${result.totalpage >0}">
        <th:block th:if="${keyword == null || keyword == ''}">
            <a th:href="@{/univ/list(page=${i})}" th:text="${i+1}"></a>
        </th:block>
        <th:block th:if="${keyword != null && keyword != ''}">
            <a th:href="@{/univ/list(page=${i}, keyword=${keyword})}" th:text="${i+1}"></a>
        </th:block>
        </th:block>
    </th:block>
</div>
    <a href="/univ/add">대학교 추가</a>
</body>
</html>