<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {padding:0px; margin:0px;}
    #divPosition{
      background-color: #FFFFFF;
      border: 1px solid #5D5D5D;
      position:absolute;
      height:220px;
      width:700px;
      margin:-150px 0px 0px -200px;
      top:40%;
      left:40%;
      padding:5px;
    }
  </style>
</head>
<body>
  <div id="divPosition">
    <div>
      <h1>
        <a href="/master/main" style="text-decoration: none; color: black">배달대학</a>
      </h1>
    </div>
  <h3>관리자 등록신청 페이지</h3>
  <form action="/admin/join" method="post">
  <table>
    <tbody>
      <tr>
        <td>아이디</td>
        <td><input type="text" name="id" th:value="${id}"></td>
        <td>
          <span th:if="${status == 'duplicated'}" style="color:red">중복된 아이디 입니다.</span>
          <span th:if="${status == 'emptyId'}" style="color:blue">아이디가 빈칸 입니다.</span>
          <span th:if="${status == 'invalidId'}" style="color:darkviolet">아이디는 영문 및 숫자만 가능하며 공백은 불가능합니다.</span>
        </td>
      </tr>
      <tr>
        <td>비밀번호</td>
        <td><input type="password" name="pwd"></td>
        <td>
          <span th:if="${status == 'emptyPwd'}" style="color:blue">비밀번호가 빈칸 입니다.</span>
          <span th:if="${status == 'invalidPwd'}" style="color:darkviolet">비밀번호는 영문 및 숫자만 가능하며 공백은 불가능합니다.</span>
        </td>
      </tr>
      <tr>
        <td>닉네임</td>
        <td><input type="text" name="nickname" th:value="${nickname}"></td>
        <td>
          <span th:if="${status == 'emptyNickname'}" style="color:blue">이름이 빈칸 입니다.</span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button>관리자 등록신청</button>
        </td>
      </tr>
    </tbody>
  </table>
  </form>
</div>
</body>
</html> -->