<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script th:inline="javascript">
    const user = [[${session.loginUser}]]
    if(user == null) { 
      alert("관리자 전용페이지 입니다. 로그인 해 주세요"); 
      location.href="/master";
    }
  </script>
  <script th:inline="javascript">
    const grade = [[${session.loginUser.grade}]];
    if(grade != 1) {
      alert("마스터 관리자만 접근 가능한 메뉴입니다.");
      location.href = "/master/main";
    }
  </script>
</head>
<body>
  <div>
    <h1>
      <a href="/master/main" style="text-decoration: none; color: crimson">배달대</a>
    </h1>
  </div>
  <h3>관리자 계정 리스트</h3>
  <tr>
    <td colspan="2">
      <a href="/customer/list" style="color: black;"><button>일반회원 관리페이지</button></a>
    </td>
    <td colspan="2">
      <a href="/owner/list" style="color: black;"><button>사장회원 관리페이지</button></a>
    </td>
    <td colspan="2">
      <a href="/univ/list" style="color: black;"><button>배달장소 관리페이지</button></a>
    </td>
    <td colspan="2">
      <a href="/store/list" style="color: black;"><button>가게정보 관리페이지</button></a>
    </td>
  </tr>
  <tr>
    <td colspan="2">  
      <a href="/master/logout" style="color: black;"><button>로그아웃</button></a>
    </td>
  </tr>
  <table>
    <thead>
      <tr>
        <th>번호</th>
        <th>아이디</th>
        <th>닉네임</th>
        <th>등급</th>
        <th>상태</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="master, i : ${result.list}">
      <td th:text="${master.miSeq}"></td>
      <td th:text="${master.miId}"></td>
      <td th:text="${master.miNickName}"></td>
      <td>
        <th:block th:switch="${master.miGrade}">
        <span th:case="2">일반관리자</span>
        </th:block>
      </td>
      <td>
        <th:block th:switch="${master.miStatus}">
        <span th:case="1">사용가능</span>
        <span th:case="2">등록대기</span>
        <span th:case="3">사용정지</span>
        </th:block>
      </td>
      <td>
        <th:block th:if="${master.miStatus == 1}">
          <a th:href="@{ /master/status (seq=${master.miSeq}, status=3) }" onclick="return confirm('정지처리 하시겠습니까?')">사용정지</a>
        </th:block>
        <th:block th:if="${master.miStatus == 2}">
          <a th:href="@{ /master/status (seq=${master.miSeq}, status=1) }" onclick="return confirm('사용승인 하시겠습니까?')">사용가능</a>
        </th:block>
        <th:block th:if="${master.miStatus == 3}">
          <a th:href="@{ /master/status (seq=${master.miSeq}, status=1) }" onclick="return confirm('정지를 해제 하시겠습니까?')">정지해제</a>
        </th:block>
      </td>
      <td>
          <a th:href="@{ /master/delete (miSeq=${master.miSeq}) }"><button onclick="return confirm('계정을 삭제 하시겠습니까?')">계정삭제</button></a>
      </td>
      </tr>
    </tbody>
  </table>
  <div class="search_area">
    <form action="/master/list" method="get" id="search_form">
        <input type="text" name="keyword" placeholder="아이디로 검색" th:value="${keyword}"><button>검색</button>
    </form>
</div>
<div class="pager_area">
    <th:block th:each="i : ${#numbers.sequence(0, result.totalpage - 1)}">
        <th:block th:if="${result.totalpage >0}">
        <th:block th:if="${keyword == null || keyword == ''}">
            <a th:href="@{/master/list(page=${i})}" th:text="${i+1}"></a>
        </th:block>
        <th:block th:if="${keyword != null && keyword != ''}">
            <a th:href="@{/master/list(page=${i}, keyword=${keyword})}" th:text="${i+1}"></a>
        </th:block>
        </th:block>
    </th:block>
</div>
</body>
</html>