<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script th:inline="javascript">
    const user = [[${session.loginUser}]]
    if(user == null) { 
      alert("관리자 전용페이지 입니다. 로그인 해 주세요"); 
      location.href="/master";
    }
  </script>
  <script th:inline="javascript">
    const grade = [[${session.loginUser.grade}]];
    if(grade != 1) {
      alert("마스터 관리자만 접근 가능한 메뉴입니다.");
      location.href = "/master/main";
    }
  </script>
</head>
<body>
  <h1>관리자 계정 리스트</h1>
  <tr>
    <td colspan="2">
      <a href="/customer/list" style="color: black;"><button>일반회원 관리페이지</button></a>
    </td>
    <td colspan="2">
      <a href="/owner/list" style="color: black;"><button>사장회원 관리페이지</button></a>
    </td>
    <td colspan="2">
      <a href="/univ/list" style="color: black;"><button>배달장소 관리페이지</button></a>
    </td>
  </tr>
  <tr>
    <td colspan="2">  
      <a href="/master/logout" style="color: black;"><button>로그아웃</button></a>
    </td>
  </tr>
  <table>
    <thead>
      <tr>
        <th>번호</th>
        <th>아이디</th>
        <th>닉네임</th>
        <th>등급</th>
        <th>상태</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="master, i : ${accountList}">
      <td th:text="${master.seq}"></td>
      <td th:text="${master.id}"></td>
      <td th:text="${master.nickname}"></td>
      <td>
        <th:block th:switch="${master.grade}">
        <span th:case="2">일반관리자</span>
        </th:block>
      </td>
      <td>
        <th:block th:switch="${master.status}">
        <span th:case="1">사용가능</span>
        <span th:case="2">등록대기</span>
        <span th:case="3">사용정지</span>
        </th:block>
      </td>
      <td>
        <th:block th:if="${master.status == 1}">
          <a th:href="@{ /master/status (seq=${master.seq}, status=3) }">사용정지</a>
        </th:block>
        <th:block th:if="${master.status == 2}">
          <a th:href="@{ /master/status (seq=${master.seq}, status=1) }">사용가능</a>
        </th:block>
        <th:block th:if="${master.status == 3}">
          <a th:href="@{ /master/status (seq=${master.seq}, status=1) }">사용가능</a>
        </th:block>
      </td>
      <td>
          <a th:href="@{ /master/delete (seq=${master.seq}) }">계정삭제</a>
      </td>
      </tr>
    </tbody>
  </table>
  <div>
    <span th:each="num : ${#numbers.sequence(1, totalPage)}">
      <a th:href="@{/master/list(page=${num-1}, size=10, sort=miSeq,desc)}" th:text="${num}"></a>
    </span>
  </div>
</body>
</html>